.image {
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.galerij-content {
    float: left;
    padding: 20px;
    width: 70%;
}

.Search_Bar{
    float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}